<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517749861413-r0lks5gvq26t7ielt21mlfn5an3c0n24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517749861413-r0lks5gvq26t7ielt21mlfn5an3c0n24</string>
	<key>API_KEY</key>
	<string>AIzaSyDv6uwwTijFZ4DHmwPRAOTQ1Rka58qhjCI</string>
	<key>GCM_SENDER_ID</key>
	<string>517749861413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marcelo.Meme</string>
	<key>PROJECT_ID</key>
	<string>memewithjean</string>
	<key>STORAGE_BUCKET</key>
	<string>memewithjean.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517749861413:ios:358e721779d05008fd63cc</string>
</dict>
</plist>